{
	"publisher": {
		"ip": "127.0.0.1",
		"port": 9998,
		"secret": "YOUR_PUBLISHING_SECRET_HERE"
	},
	"subscriber": {
		"ip": "0.0.0.0",
		"port": 9999
	},
	"persister": {
		"type": "filesystem",

		"memory": {
			"maxItems": 1000
		},

		"filesystem": {
			"storagePath": "/path/to/storage"
		}
	}
}
